<?xml version="1.0" encoding="UTF-8"?>
<root>
  <% if @widget.reverse %>
    <type>reverse</type>
  <% end %>
  <% if @widget.hide_percentage %>
    <percentage>hide</percentage>
  <% end %>
  <% @widget.items.each do |item| %>
    <item>
      <value><%= item[:value] %></value>
      <label><![CDATA[<%= item[:label] %>]]></label>
    </item>
  <% end %>
</root>
